* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Gabarito", sans-serif;
}
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  gap: 5px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
.navbar__s1 {
  display: flex;
  align-items: center;
}
.navbar__s2 {
  padding: 10px;
  border: 1px solid black;
  border-radius: 30px;
  width: 50%;
  display: flex;
  gap: 5px;
  align-items: center;
}
.navbar__s2 input {
  border: none;
  width: 100%;
  font-size: 16px;
  background: transparent;
}
.navbar__s2 input:focus {
  outline: none;
}
.navbar__s3 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar__s4{
  display: none;
}
/* my learning popup */
.mylearning{
  position: relative;
  cursor: pointer;
}
.mylearning__popup{
  position: absolute;
  background-color: #fff;
  border: 1px solid #000;
  width: 100px;
  padding: 20px;
  right: 0;
  top: 150%;
  display: none;
}
.mylearning:hover .mylearning__popup{
  display: block;
}
.categories {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid black;
  justify-content: space-around;
  flex-wrap: wrap;
}
.categories p {
  background-color: #a435f0;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #a435f0;
}
.categories p:hover{
  transition: 1s;
  background-color: transparent;
  color: #000;
  border: 1px solid #a435f0;
}
.sale-img {
  position: relative;
}
.sale-img img {
  width: 100%;
}
.sale-img__offer {
  position: absolute;
  background-color: #fff;
  border: 2px solid black;
  width: 35%;
  padding:2%;
  top: 10%;
  left: 10%;
  animation-name: zoom;
  animation-duration: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes zoom{
  0% {
    transform: scale(0);
    opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}
.recommended {
  padding: 10px;
}
.recommended__container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}
.course-card {
  /* 

 
  margin-top: 10px; */
  width: 200px;
  flex-grow: 1;
  flex-basis: 20%;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}
.course-card img {
  width: 100%;
  height: 50%;
  border-radius: 10px 10px 0px 0px;
}
.topics {
  padding: 10px;
}
.topics__container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.topics__container p {
  border: 2px solid gray;
  flex-grow: 1;
  flex-basis: 25%;
}

.popular {
  padding: 10px;
}
.popular__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.footer {
  padding: 30px;
  background-color: #000;
  color: #fff;
}
.footer__one {
  display: flex;
  gap: 10px;
}
.footer__one p {
  margin: 20px;
}
.footer__two {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}

@media screen and (max-width: 800px) {
  body{
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .course-card{
    flex-basis: 40%;
  }
  .categories{
    display: none;
  }
  .navbar__s2, .navbar__s3{
    display: none;
  }
  .navbar__s4{
    display: block;
  }
}